# --- Project Specific ---
.env
.env.local
# Ignore the big raw data folder entirely
Yelp-JSON/
# Ignore logs and temp files
*.log
*.tmp

# --- dbt ---
yelp_dbt/target/
yelp_dbt/dbt_packages/
yelp_dbt/logs/
yelp_dbt/profiles.yml


# --- Python ---
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
.pytest_cache/
.mypy_cache/

# --- Docker ---

.docker/
docker-compose.yml

# --- Databases ---

postgres_data/

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Distribution / Packaging ---
dist/
build/
*.egg-info/
